html {
    color: rgba(84,88,91,255);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.error {
    border: 1px solid rgba(224,78,55,255);
}

.error-color {
    color: rgba(224,78,55,255);
}

.app-root {
    padding: 0 20px 20px 20px;
    max-width: 752px;
}

.header {
    margin: 0;
    font-size: 16px;
}

.input-container {
    z-index: 1;
    width: 100%;
    padding-bottom: 30px;
}

.input-label {
    padding-bottom: 5px;
}

.area-input-label {
    padding-right: 30px;
}

select, input {
    width: 310px;
}

textarea {
    width: 648px;
    height: 500px;
}